<tr>
  <td class="transaction_number">
    <span>#{{transaction_number}}</span>
  </td>
  <td class="transaction_date">
    <span>{{transaction_date}}</span>
  </td>
  <td class="transaction_due_date">
    <span>{{due_date}}</span>
  </td>
  <td class="transaction_total">
    <span>{{total}}</span>
  </td>
  <td class="transaction_balance">
    <span>{{balance}}</span>
  </td>
  <td class="transaction_payment">
    <div class="form-group">
      <input type="text" class="form-control" name="transaction[payment]" value="" />
    </div>
  </td>
</tr>
