<tr>
  <td>{{ transaction_date }}</td>
  <td>{{ payment_method }}</td>
  <td>-PHP{{ total }}</td>
  <td>PHP{{ balance }}</td>
  <td><span class="label label-primary">{{ status }}</span></td>
  <td class="action">
    <a href="/accounts/{{account_id}}/transactions/{{transaction_id}}/preview">Preview</a>
  </td>
</tr>
